@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

#content {
    font-size: 50px;
    padding: 100px 50px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 10px 0px;
}

p {
    margin: 0px 5px;
}

a {
    text-decoration: underline;
    color: white;
}

.mirrored {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#help {
    list-style: none;
    font-size: 2em;
}

kbd {
    color: #fff;
    font-family: monospace;
    text-align: center;
    display: inline;
    font-weight: bold;
    text-transform: lowercase;
}

/* Modal */
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal-bg {
    position: absolute;
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.modal-container {
    border-radius: 10px;
    background: #000;
    position: relative;
    padding: 30px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}
