name: Pull request check

on:
  pull_request:
  push:
    branches-ignore:
      - main

jobs:
  check:
    name: Check style
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install UV
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    - name: Install dependencies
      run: uv sync --dev
    - name: Run Flake8
      run: uv run pflake8 .
    - name: Run iSort
      run: uv run isort . --check-only
    - name: Run Black
      run: uv run black . --check
    - name: Run tests
      run: uv run pytest
