name: Release

on:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry==1.1.13
        poetry config virtualenvs.create false --local
        poetry install
    - name: Run Flake8
      run: pflake8 .
    - name: Run iSort
      run: isort . --check-only
    - name: Run Black
      run: black . --check
    - name: Release
      if: startsWith(github.ref, 'refs/tags/'
      env:
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        poetry publish -u __token__ -p ${PYPI_PASSWORD} --build
