name: Release

on:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install UV
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    - name: Install dependencies
      run: uv sync --dev
    - name: Run Flake8
      run: uv run pflake8 .
    - name: Run iSort
      run: uv run isort . --check-only
    - name: Run Black
      run: uv run black . --check
    - name: Build and publish package to PyPI
      if: startsWith(github.ref, 'refs/tags/')
      env:
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        uv build
        uv publish --token ${PYPI_PASSWORD}
    - name: Publish documentation
      if: startsWith(github.ref, 'refs/tags/')
      run: uv run mkdocs gh-deploy --force
